<section class="nosotros my-5">
    <h2 class="text-center my-5">Suscríbete</h2>
    <div class="container">
        <div class="row">

            <!------------------------------- MEMBRESIA 1 ------------------------------->
            <div class="col-4 mt-3">
                <div class="container">
                    <div class="mx-auto">
                        <div class="card text-center">
                            <div class="card-body">
                                <form action="/addsuscripcion" method="post" enctype="multipart/form-data">

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea fw-bold text-center"
                                            name="membership" id="membership" style="background:#cd7f32"
                                            readonly>MEMBRESIA BRONCE</textarea>
                                    </div>

                                    <div class="mt-2">
                                        <img type="image" name="image" id="image" src="/img/especialista.jpg" alt=""
                                            style="width: 355px; height:250px">
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="certified" class="input-group-text"
                                            style="background:black; color:white">Certificado</label>
                                        <textarea class="form-control custom-textarea" name="certified" id="certified"
                                            style="background:#cd7f32"
                                            readonly>Técnico Instalador de Fibra Óptica</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea" name="description"
                                            id="description" style="background-color: #dcdcdc"
                                            readonly>Nos enfocamos en la instalación física y configuración inicial de redes de fibra óptica. Los técnicos adquieren habilidades prácticas en la preparación de cables, montaje de conectores y paneles, y la verificación de conexiones ópticas. Además, aprenden a realizar pruebas básicas de funcionamiento y a seguir normativas de seguridad y buenas prácticas en instalaciones.</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="name" class="input-group-text">Nombre</label>
                                        <input class="form-control text-start" type="text" name="name" id="name"
                                            placeholder="Ej:  Steven" autofocus required>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="lastname" class="input-group-text">Apellido</label>
                                        <input class="form-control text-start" type="text" name="lastname" id="lastname"
                                            placeholder="Ej:  Cabrales" autofocus required>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="email" class="input-group-text">Email</label>
                                        <input class="form-control text-start" type="email" name="email" id="email"
                                            placeholder="Ej:  fibraoptica@gmail.com" autofocus required>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="age" class="input-group-text">Edad</label>
                                        <input class="form-control text-start" type="number" name="age" id="age"
                                            min="18" max="90" placeholder="Escribe aquí cuántos años tienes" autofocus
                                            required>
                                    </div>

                                    <div class="input-group mt-2">
                                        <input class="form-control" type="file" name="file" id="file">
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="precio" class="input-group-text"
                                            style="background:black; color:white">Precio (USD)</label>
                                        <input class="form-control text-end" type="number" name="price" id="price"
                                            value="499" style="background-color: #dcdcdc" readonly autofocus required>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="tiempo" class="input-group-text"
                                            style="background:black; color:white">Tiempo (meses)</label>
                                        <input class="form-control text-end" type="number" name="tiempo" id="tiempo"
                                            value="6" readonly style="background-color: #dcdcdc" required>
                                    </div>

                                    <div class="form-group mt-4 d-grid gap-2">
                                        <button class="btn btn-success">Suscribirse <i
                                                class="fa-solid fa-star"></i></button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!------------------------------- MEMBRESIA 2 ------------------------------->
            <div class="col-4 mt-3">
                <div class="container">
                    <div class="mx-auto">
                        <div class="card text-center">
                            <div class="card-body">
                                <form action="/addsuscripcion" method="post" enctype="multipart/form-data">

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea fw-bold text-center"
                                            name="membership" id="membership" style="background:silver"
                                            readonly>MEMBRESIA PLATA</textarea>
                                    </div>

                                    <div class="mt-2">
                                        <img type="image" name="image" id="image" src="/img/empalmador.jpg" alt=""
                                            style="width: 355px; height:250px">
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="certified" class="input-group-text"
                                            style="background:black; color:white">Certificado</label>
                                        <textarea class="form-control custom-textarea" name="certified" id="certified"
                                            style="background:silver"
                                            readonly>Técnico Empalmador de Enlaces de Fibra Óptica</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea" name="description"
                                            id="description" style="background-color: #dcdcdc"
                                            readonly>Capacitamos a los técnicos en las técnicas de empalme y fusión de cables de fibra óptica. Incluye la preparación de fibras, la realización de empalmes mecánicos y por fusión, así como la interpretación de resultados de pruebas. Los técnicos empalmadores son fundamentales para garantizar la integridad y eficiencia de los enlaces de fibra óptica en diversas aplicaciones.</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="name" class="input-group-text">Nombre</label>
                                        <input class="form-control text-start" type="text" name="name" id="name"
                                            placeholder="Ej:  Steven" autofocus required>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="lastname" class="input-group-text">Apellido</label>
                                        <input class="form-control text-start" type="text" name="lastname" id="lastname"
                                            placeholder="Ej:  Cabrales" autofocus required>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="email" class="input-group-text">Email</label>
                                        <input class="form-control text-start" type="email" name="email" id="email"
                                            placeholder="Ej:  fibraoptica@gmail.com" autofocus required>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="age" class="input-group-text">Edad</label>
                                        <input class="form-control text-start" type="number" name="age" id="age"
                                            min="18" max="90" placeholder="Escribe aquí cuántos años tienes" autofocus
                                            required>
                                    </div>

                                    <div class="input-group mt-2">
                                        <input class="form-control" type="file" name="file" id="file">
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="precio" class="input-group-text"
                                            style="background:black; color:white">Precio (USD)</label>
                                        <input class="form-control text-end" type="number" name="price" id="price"
                                            value="799" readonly autofocus required style="background-color: #dcdcdc">
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="tiempo" class="input-group-text"
                                            style="background:black; color:white">Tiempo (meses)</label>
                                        <input class="form-control text-end" type="number" name="tiempo" id="tiempo"
                                            value="6" readonly required style="background-color: #dcdcdc">
                                    </div>

                                    <div class="form-group mt-4 d-grid gap-2">
                                        <button class="btn btn-success">Suscribirse <i
                                                class="fa-solid fa-star"></i></button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!------------------------------- MEMBRESIA 3 ------------------------------->
            <div class="col-4 mt-3">
                <div class="container">
                    <div class="mx-auto">
                        <div class="card text-center">
                            <div class="card-body">
                                <form action="/addsuscripcion" method="post" enctype="multipart/form-data">

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea fw-bold text-center"
                                            name="membership" id="membership" style="background:gold"
                                            readonly>MEMBRESIA ORO</textarea>
                                    </div>

                                    <div class="mt-2">
                                        <img type="image" name="image" id="image" src="/img/especialista.jpg" alt=""
                                            style="width: 355px; height:250px">
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="certified" class="input-group-text"
                                            style="background:black; color:white">Certificado</label>
                                        <textarea class="form-control custom-textarea" name="certified" id="certified"
                                            style="background:gold"
                                            readonly>Especialista en Montaje y Certificación de Racks de Fibra Óptica</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea" name="description"
                                            id="description" style="background-color: #dcdcdc"
                                            readonly>Nos centramos en la capacitación avanzada para técnicos que realizan el montaje, configuración y certificación de racks de fibra óptica en entornos de datacenters. Incluye habilidades en el manejo de herramientas especializadas, técnicas de empalme y pruebas, así como conocimientos profundos en estándares de calidad y seguridad para infraestructuras críticas.</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="name" class="input-group-text">Nombre</label>
                                        <input class="form-control text-start" type="text" name="name" id="name"
                                            placeholder="Ej:  Steven" autofocus required>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="lastname" class="input-group-text">Apellido</label>
                                        <input class="form-control text-start" type="text" name="lastname" id="lastname"
                                            placeholder="Ej:  Cabrales" autofocus required>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="email" class="input-group-text">Email</label>
                                        <input class="form-control text-start" type="email" name="email" id="email"
                                            placeholder="Ej:  fibraoptica@gmail.com" autofocus required>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="age" class="input-group-text">Edad</label>
                                        <input class="form-control text-start" type="number" name="age" id="age"
                                            min="18" max="90" placeholder="Escribe aquí cuántos años tienes" autofocus
                                            required>
                                    </div>

                                    <div class="input-group mt-2">
                                        <input class="form-control" type="file" name="file" id="file">
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="precio" class="input-group-text"
                                            style="background:black; color:white">Precio (USD)</label>
                                        <input class="form-control text-end" type="number" name="price" id="price"
                                            value="1999" readonly autofocus required style="background-color: #dcdcdc">
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="tiempo" class="input-group-text"
                                            style="background:black; color:white">Tiempo (meses)</label>
                                        <input class="form-control text-end" type="number" name="tiempo" id="tiempo"
                                            value="12" readonly required style="background-color: #dcdcdc">
                                    </div>

                                    <input class="form-control text-end" type="hidden" name="state" id="state"
                                        value="activo" readonly required>

                                    <div class="form-group mt-4 d-grid gap-2">
                                        <button class="btn btn-success">Suscribirse <i
                                                class="fa-solid fa-star"></i></button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>