<main>

    <!------------------------- SECCION CARRUSEL ------------------------>
<section class="carrusel mt-3">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="6000">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/slide2.jpg" class="d-block w-100" alt="..." style="width: 1200px; height:400px">
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="color:yellow; text-shadow: 2px 2px 4px black">Fusión de dos fibras ópticas</h5>
                    <p style="color:yellow; text-shadow: 2px 2px 4px black">Empalme de dos fibra monomodo por medio del arco electrico generado por la fusionadora</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/img/slide1.jpg" class="d-block w-100" alt="..." style="width: 1200px; height:400px">
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="color:yellow; text-shadow: 2px 2px 4px black">Conectorización dentro de una caja NAP</h5>
                    <p style="color:yellow; text-shadow: 2px 2px 4px black">Conexión del cable de acometida tipo drop con conector SC/APC al enfrentador dentro de una caja NAP preconectorizada</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/img/slide3.jpg" class="d-block w-100" alt="..." style="width: 1200px; height:400px">
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="color:yellow; text-shadow: 2px 2px 4px black">Instalación de una caja de empalme horizontal</h5>
                    <p style="color:yellow; text-shadow: 2px 2px 4px black">Instalación de una caja de empalme en postería para la implementación de una red FTTH</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: black"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: black"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

    <!------------------------- SECCION QUIENES SOMOS ------------------------>
    <section class="nosotros my-5" style="line-height: 2em;">
        <h2 class="text-center my-5">Quiénes somos</h2>
        <div class="container">
            <div class="row">
                <div class="col-6" style="text-align: justify">
                    En CYBERFIBER, nos especializamos en proporcionar formación de alta calidad en la instalación y reparación de fibra óptica, así como en ofrecer equipos y herramientas especializadas. Capacitamos a profesionales y empresas de telecomunicaciones, garantizando que adquieran las habilidades necesarias para sobresalir en este campo tecnológico. Nuestro compromiso con la excelencia educativa y la provisión de productos de calidad nos ha posicionado como un referente en el sector, participando en proyectos significativos como la instalación de redes de fibra óptica en colegios rurales de Colombia.
                </div>
                <div class="col-6">
                    <img src="/img/qs.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <!------------------------- SECCION MISION, VISION -------------------------->
    <section class="nosotros my-5" style="line-height: 2em;">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h2 class="text-center my-5">Misión</h2>
                    <div style="text-align: justify">
                        <p>Nuestra misión es proporcionar una formación de alta calidad en la instalación y reparación de fibra óptica, así como ofrecer una amplia gama de equipos y herramientas especializadas.<br><br>
                        Nos dedicamos a empoderar a las empresas de telecomunicaciones con el conocimiento y las habilidades necesarias para sobresalir en el campo de las telecomunicaciones, asegurando que nuestros clientes reciban un servicio excepcional y productos de la más alta calidad.</p>
                        <br>
                    </div>
                    <div>
                        <img src="/img/mision.jpg" alt="" class="img-fluid" style="width: 800px; height:350px">
                    </div>
                </div>
                <div class="col-6">
                <h2 class="text-center my-5">Visión</h2>
                    <div style="text-align: justify">
                        <p>Nuestra visión es convertirnos en el líder reconocido en la capacitación y provisión de herramientas y equipos para la instalación y reparación de fibra óptica en los próximos 10 años. Aspiramos a ser el referente principal en el sector, conocido por nuestra excelencia educativa, innovación en productos y un compromiso inquebrantable con la calidad y el servicio al cliente.</p>
                        <p>Buscamos expandir nuestras operaciones a nivel nacional e internacional, contribuyendo significativamente al avance de la infraestructura de telecomunicaciones y conectividad global.</p>
                    </div>
                    <div>
                        <img src="/img/vision.jpg" alt="" class="img-fluid" style="width: 800px; height:365px">
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!------------------------- SECCION HISTORIA -------------------------->
    <section class="nosotros my-5" style="line-height: 2em;">
        <h2 class="text-center my-5">Historia</h2>
        <div class="container">
            <div class="row">
                <div style="text-align: justify">
                    <p>Fundada en 2014, nuestra empresa comenzó como un pequeño grupo de expertos en fibra óptica, dedicados a brindar soluciones prácticas para la instalación y reparación de estas tecnologías emergentes. La demanda creciente por conexiones de alta velocidad impulsó nuestro rápido crecimiento, permitiéndonos expandir nuestras operaciones y servicios en poco tiempo. <br><br> Un evento significativo en nuestra trayectoria fue el Proyecto de Puntos Digitales, en el que instalamos redes de fibra óptica en más de 100 colegios rurales de Cundinamarca y Valle del Cauca durante el gobierno de Juan M. Santos. Este proyecto no solo impulsó nuestro crecimiento, sino que también solidificó nuestra reputación como líderes en el sector. Ampliamos nuestro portafolio para incluir no solo capacitación de primera clase, sino también una selección de herramientas y equipos especializados en fibra óptica.<br><br> A lo largo de la última década, hemos sido reconocidos por nuestra contribución al desarrollo de la infraestructura de telecomunicaciones en la región. Nuestra empresa ha formado a cientos de técnicos y profesionales, equipándolos con las habilidades necesarias para enfrentar los desafíos del futuro. Mirando hacia adelante, nos comprometemos a seguir liderando con integridad y excelencia, expandiendo nuestra presencia a nivel nacional e internacional, y continuando nuestra misión de empoderar a las empresas de telecomunicaciones con las mejores soluciones en capacitación y productos de fibra óptica.</p>
                </div>
            </div>
        </div>
    </section>



    <!------------------------- SECCION SERVICIOS ------------------------>
    <section class="nosotros my-5" style="line-height: 2em;">
        <h2 class="text-center my-5">Nuestros Servicios</h2>
        <div class="container">
            <div class="row">

                <div class="col-6">
                    <div class="card text-center">
                        <img src="/img/equipos_y_herramientas.jpg" class="card-img-top" alt="..." style="height: 390px;">
                        <div class="card-body">
                            <h5 class="card-title">Equipos y herramientas de Fibra Óptica</h5>
                            <p class="card-text">Encuentra todo lo que necesitas para aprovisionar a tus colaboradores con las herramientas y equipos de mejor calidad en el mercado y con disponibilidad de una garantía extendida. Revisa nuestro catálogo en línea</p>
                            <a href="/add" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card text-center">
                        <img src="/img/capacitacion.jpg" class="card-img-top" alt="..." style="height: 390px;">
                        <div class="card-body">
                            <h5 class="card-title">Programas de capacitacíon</h5>
                            <p class="card-text">Aprende por medio de profesionales del área sobre cómo trabajar con fibra óptica desde el nivel cero hasta adquirir el conocimiento más avanzado y mejora tus ingresos mensuales al aplicar a vacantes altamente demandadas</p>
                            <a href="/addsuscripcion" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!------------------------- SECCION CONTÁCTANOS ------------------------>
    <section class="contactenos bg-info py-5">
        <h2 class="text-center">Contáctanos</h2>
        <div class="container">
            <form class="row" action="/sendform" method="post">
                <div class="mb-3 col-4">
                    <label for="Nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="name" name="name" aria-describedby="Nombre" placeholder="Escribe aquí tu nombre..." required>
                </div>
                <div class="mb-3 col-4">
                    <label for="Email" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Escribe aquí tu email..." required>
                </div>
                <div class="mb-3 col-4">
                    <label for="Asunto" class="form-label">Asunto</label>
                    <input type="text" class="form-control" id="asunto" name="asunto" aria-describedby="Asunto" placeholder="Escribe aquí el asunto..." required>
                </div>
                <div class="mb-3 col-12">
                    <label for="Mensaje">Mensaje</label>
                    <textarea class="form-control" id="mensaje" name="mensaje"  cols="30" rows="5" placeholder="Escribe aquí tu mensaje..." required></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>

            </form>
        </div>
    </section>

</main>