<main>

    <!------------------------- SECCION CARRUSEL ------------------------>
    <section class="carrusel">
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">

                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="https://picsum.photos/seed/picsum/1920/500" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Título</h5>
                        <p>Descripción</p>
                    </div>
                </div>

                <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://picsum.photos/seed/picsum/1920/500" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Título</h5>
                        <p>Descripción</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="https://picsum.photos/seed/picsum/1920/500" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Título</h5>
                        <p>Descripción</p>
                    </div>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <!------------------------- SECCION QUIENES SOMOS ------------------------>
    <section class="nosotros my-5" style="line-height: 2em;">
        <h2 class="text-center my-5">Quiénes somos</h2>
        <div class="container">
            <div class="row">
                <div class="col-6" style="text-align: justify">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus dolorum sequi quas rerum
                        quibusdam exercitationem excepturi labore debitis, minus placeat consequuntur, corporis quasi
                        perferendis omnis provident expedita rem ipsum voluptatum!</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti debitis iure vero voluptatum
                        magni exercitationem modi tenetur laboriosam harum ullam esse minima ea id, placeat unde sunt
                        hic maxime voluptates.</p>
                </div>
                <div class="col-6">
                    <img src="https://picsum.photos/800/300.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <!------------------------- SECCION MISION, VISION -------------------------->
    <section class="nosotros my-5" style="line-height: 2em;">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h2 class="text-center my-5">Misión</h2>
                    <div style="text-align: justify">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus dolorum sequi quas rerum
                            quibusdam exercitationem excepturi labore debitis, minus placeat consequuntur, corporis quasi
                            perferendis omnis provident expedita rem ipsum voluptatum!</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti debitis iure vero voluptatum
                            magni exercitationem modi tenetur laboriosam harum ullam esse minima ea id, placeat unde sunt
                            hic maxime voluptates.</p>
                    </div>
                    <div>
                        <img src="https://picsum.photos/800/300.jpg" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-6">
                <h2 class="text-center my-5">Visión</h2>
                    <div style="text-align: justify">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus dolorum sequi quas rerum
                            quibusdam exercitationem excepturi labore debitis, minus placeat consequuntur, corporis quasi
                            perferendis omnis provident expedita rem ipsum voluptatum!</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti debitis iure vero voluptatum
                            magni exercitationem modi tenetur laboriosam harum ullam esse minima ea id, placeat unde sunt
                            hic maxime voluptates.</p>
                    </div>
                    <div>
                        <img src="https://picsum.photos/800/300.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!------------------------- SECCION HISTORIA -------------------------->
    <section class="nosotros my-5" style="line-height: 2em;">
        <h2 class="text-center my-5">Historia</h2>
        <div class="container">
            <div class="row">
                <div style="text-align: justify">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus dolorum sequi quas rerum
                        quibusdam exercitationem excepturi labore debitis, minus placeat consequuntur, corporis quasi
                        perferendis omnis provident expedita rem ipsum voluptatum!</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti debitis iure vero voluptatum
                        magni exercitationem modi tenetur laboriosam harum ullam esse minima ea id, placeat unde sunt
                        hic maxime voluptates.</p>
                </div>
            </div>
        </div>
    </section>



    <!------------------------- SECCION SERVICIOS ------------------------>
    <section class="nosotros my-5" style="line-height: 2em;">
        <h2 class="text-center my-5">Nuestros Servicios</h2>
        <div class="container">
            <div class="row">

                <div class="col-4">
                    <div class="card text-center">
                        <img src="https://picsum.photos/500/300.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Servicio 1</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center">
                        <img src="https://picsum.photos/500/300.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Servicio 2</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center">
                        <img src="https://picsum.photos/500/300.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Servicio 3</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>




    <!------------------------- SECCION CONTÁCTANOS ------------------------>
    <section class="contactenos bg-info py-5">
        <h2 class="text-center">Contáctanos</h2>
        <div class="container">
            <form class="row">
                <div class="mb-3 col-4">
                    <label for="Nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="Nombre" aria-describedby="Nombre" placeholder="Escribe aquí tu nombre...">
                </div>
                <div class="mb-3 col-4">
                    <label for="Email" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" id="Email" placeholder="Escribe aquí tu email...">
                </div>
                <div class="mb-3 col-4">
                    <label for="Asunto" class="form-label">Asunto</label>
                    <input type="text" class="form-control" id="Asunto" aria-describedby="Asunto" placeholder="Escribe aquí el asunto...">
                </div>
                <div class="mb-3 col-12">
                    <label for="Mensaje">Mensaje</label>
                    <textarea class="form-control" name="mensaje" id="" cols="30" rows="5" placeholder="Escribe aquí tu mensaje..."></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>

            </form>
        </div>
    </section>



    <!------------------------- SECCION AGREGAR PRODUCTO ------------------------>
    <section class="mt-5">
        <div class="container">
            <div class="card mx-auto" style="width:600px">
                <div class="card-header">
                    <img src="/img/logo.png" alt="logo" class="card-img-top mx-auto m-2 rounded-circle"
                        style="width:150px; height:150px; display:block">
                    <h3 class="text-uppercase text-center p-4">CRUD Node JS y MySQL</h3>
                </div>
                <div class="card-body text-center">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo voluptatum laudantium repellendus
                        voluptate ea dolore obcaecati fuga non error dicta nesciunt consequatur minus, labore at, ipsam
                        tempora facere assumenda! Voluptatem.</p>
                    <a href="/add" class="btn btn-primary">Crear una persona</a>
                </div>
            </div>
        </div>
    </section>

</main>