<footer class="text-center py-3  mt-3" style="background-color: black; color: white">

    <div class="container">
        <div class="row">
            <!-- Links -->
            <div class="col-md-6">
                <h5>Sitios recomendados</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white">Inicio</a></li>
                    <li><a href="/add" class="text-white">Productos</a></li>
                    <li><a href="/addsuscripcion" class="text-white">Servicios</a></li>
                </ul>
            </div>
            <!-- Contact Info -->
            <div class="col-md-6">
                <h5>Encuéntranos</h5>
                <ul class="list-unstyled">
                    <li><i class="bi bi-geo-alt-fill"></i>Carrera 25 N° 34 - 56 Local 201, Medellín, Colombia</li>
                    <li><i class="bi bi-phone-fill"></i> Cel +57 3201234567</li>
                    <li><i class="bi bi-envelope-fill"></i>contacto@cyberfiber.com</li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <p class="mb-0">&copy; 2024 CYBERFIBER Company. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>