<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black">
    <div class="container-fluid">
        <a href="/">
            <img src="/img/logo_cyberfibra_dos.JPG" alt="logo" style="width: 230px; height: 35px; display:block"
                class="card-img-top mx-auto">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addsuscripcion">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="/list">
                        <span class="me-2">Carrito</span>
                        <i class="fa-solid fa-cart-plus"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listsuscripcion">Suscripciones</a>
                </li>
            </ul>
        </div>
    </div>
</nav>