<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="/img/pinza.jpg" class="img-fluid rounded" alt="Imagen del Producto">
        </div>
        <div class="col-md-6">
            <h2>PINZA PELADORA DE FIBRA</h2>
            <p class="text-muted">Sangradora de Fibra Armada
Diámetros 6 a 42 MM
ATL-SAC-0642
            </p>
            <h4>Características Técnicas</h4>
            <ul class="list-unstyled">
                <li><strong>Material:</strong> Acero inoxidable</li>
                <li><strong>Dimensiones:</strong> 15 cm de longitud total</li>
                <li><strong>Uso:</strong> Diseñada para pelar y cortar fibras ópticas de forma precisa</li>
                <li><strong>Mango:</strong> Ergonómico para un agarre cómodo y antideslizante</li>
                <li><strong>Recubrimiento:</strong> Cuchillas con recubrimiento de titanio para mayor durabilidad</li>
                <li><strong>Fabricante:</strong> Fiber Tools Inc.</li>
                <li><strong>Garantía:</strong> Garantía limitada de 1 año</li>
            </ul>
            <h4>Costo</h4>
            <h3 class="text-success">$30</h3>
            <div class="form-group mt-2 d-grid gap-2">
                <a href="/add" class="btn btn-primary">Atrás</a>
            </div>

            <form action="/add" method="post" enctype="multipart/form-data">

                <input class="form-control" type="hidden" name="producto" id="producto" value="PINZA PELADORA DE FIBRA"
                    readonly required>

                <input class="form-control" type="hidden" name="descripcion" id="descripcion"
                    value="Sangradora de Fibra Armada Diámetros 6 a 42 MM ATL-SAC-0642"
                    readonly required>

                <input class="form-control" type="hidden" name="precio" id="precio" value="30" readonly required>

                <input class="form-control" type="hidden" name="cantidad" id="cantidad" value="1" readonly required>

                <div class="form-group mt-4 d-grid gap-2">
                    <button class="btn btn-success">Añadir a carrito <i class="fa-solid fa-cart-plus"></i></button>
                </div>

            </form>

            </button>
        </div>
    </div>
</div>