<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="/img/cortadora.jpg" class="img-fluid rounded" alt="Imagen del Producto">
        </div>
        <div class="col-md-6">
            <h2>CORTADOR CLEAVER</h2>
            <p class="text-muted">GRANDWAY / Cleaver GW-800A
Cortador de hilos de fibra
alta precisión
            </p>
            <h4>Características Técnicas</h4>
            <ul class="list-unstyled">
                <li><strong>Uso:</strong> Herramienta para cortar los hilos de fibra óptica a 90° con un disco metálico
                    diamantado, preparándolos para la fusión en la empalmadora.</li>
                <li><strong>Material:</strong> Principalmente acero con un disco de corte diamantado.</li>
                <li><strong>Dimensiones:</strong> Varían según el modelo específico, diseñada para ser precisa y fácil
                    de manejar.</li>
                <li><strong>Mecanismo:</strong> Sistema de corte que asegura una superficie limpia y plana en los
                    extremos de los hilos de fibra óptica.</li>
                <li><strong>Fabricante:</strong> Diversos fabricantes especializados en equipos para fibra óptica.</li>
                <li><strong>Garantía:</strong> Garantía limitada de 1 a 2 años, dependiendo del
                    fabricante.</li>
            </ul>
            <h4>Costo</h4>
            <h3 class="text-success">$70</h3>
            <div class="form-group mt-2 d-grid gap-2">
                <a href="/add" class="btn btn-primary">Atrás</a>
            </div>

            <form action="/add" method="post" enctype="multipart/form-data">

                <input class="form-control" type="hidden" name="producto" id="producto" value="CORTADOR CLEAVER"
                    readonly required>

                <input class="form-control" type="hidden" name="descripcion" id="descripcion"
                    value="GRANDWAY / Cleaver GW-800A Cortador de hilos de fibra alta precisión"
                    readonly required>

                <input class="form-control" type="hidden" name="precio" id="precio" value="70" readonly required>

                <input class="form-control" type="hidden" name="cantidad" id="cantidad" value="1" readonly required>

                <div class="form-group mt-4 d-grid gap-2">
                    <button class="btn btn-success">Añadir a carrito <i class="fa-solid fa-cart-plus"></i></button>
                </div>

            </form>


            </button>
        </div>
    </div>
</div>
