<section class="nosotros my-5">
    <h2 class="text-center my-5">Nuestros Productos</h2>
    <div class="container">
        <div class="row">
<!------------------------------- PRODUCTO 1 ------------------------------->
            <div class="col-3 mt-3">
                <div class="container">
                    <div class="mx-auto">
                        <div class="card text-center">
                            <div class="card-body">
                                <form action="/add" method="post" enctype="multipart/form-data">

                                    <div>
                                        <img type="image" name="image" id="image"
                                            src="img/sangradora.jpg" alt="" style="width: 250px; height:200px">
                                    </div>

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea fw-bold text-center" name="producto"
                                            id="producto" style="background:gray"
                                            readonly>SANGRADORA DE FIBRA ADSS</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea" name="descripcion"
                                            id="descripcion"
                                            readonly>Sangradora de Fibra ADSS Longitudinal/transversal Diámetros 10 a 26 MM ATL-SLAC-0825</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="precio" class="input-group-text">Precio (USD)</label>
                                        <input class="form-control text-end" type="number" name="precio" id="precio"
                                            value="50" readonly autofocus required>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="cantidad" class="input-group-text">Cantidad</label>
                                        <input class="form-control text-end" type="number" name="cantidad" id="cantidad"
                                            min="1" max="20" required>
                                    </div>

                                    <div class="form-group mt-4 d-grid gap-2">
                                        <button class="btn btn-success">Añadir a carrito <i
                                                class="fa-solid fa-cart-plus"></i></button>
                                    </div>

                                </form>
                                     <div class="form-group mt-2 d-grid gap-2">
                                        <a href="/producto1" class="btn btn-primary">Ver más</a>
                                    </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

<!------------------------------- PRODUCTO 2 ------------------------------->
            <div class="col-3 mt-3">
                <div class="container">
                    <div class="mx-auto">
                        <div class="card text-center">
                            <div class="card-body">
                                <form action="/add" method="post" enctype="multipart/form-data">

                                    <div>
                                        <img type="image" name="image" id="image"
                                            src="img/pinza.jpg" alt="" style="width: 250px; height:200px">
                                    </div>

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea fw-bold text-center" name="producto"
                                            id="producto" style="background:gray"
                                            readonly>PINZA PELADORA DE FIBRA</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea" name="descripcion"
                                            id="descripcion"
                                            readonly>Sangradora de Fibra Armada
Diámetros 6 a 42 MM
ATL-SAC-0642</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="precio" class="input-group-text">Precio (USD)</label>
                                        <input class="form-control text-end" type="number" name="precio" id="precio"
                                            value="30" readonly autofocus required>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="cantidad" class="input-group-text">Cantidad</label>
                                        <input class="form-control text-end" type="number" name="cantidad" id="cantidad"
                                            min="1" max="20" required>
                                    </div>

                                    <div class="form-group mt-4 d-grid gap-2">
                                        <button class="btn btn-success">Añadir a carrito <i
                                                class="fa-solid fa-cart-plus"></i></button>
                                    </div>

                                </form>
                                                                     <div class="form-group mt-2 d-grid gap-2">
                                        <a href="/producto2" class="btn btn-primary">Ver más</a>
                                    </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div> 

<!------------------------------- PRODUCTO 3 ------------------------------->
            <div class="col-3 mt-3">
                <div class="container">
                    <div class="mx-auto">
                        <div class="card text-center">
                            <div class="card-body">
                                <form action="/add" method="post" enctype="multipart/form-data">

                                    <div>
                                        <img type="image" name="image" id="image"
                                            src="img/miller_clamp.jpg" alt="" style="width: 250px; height:200px">
                                    </div>

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea fw-bold text-center" name="producto"
                                            id="producto" style="background:gray"
                                            readonly>MILLER CLAMP</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea" name="descripcion"
                                            id="descripcion"
                                            readonly>Peladora de chaqueta de
Fibra DROP OTL- MC</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="precio" class="input-group-text">Precio (USD)</label>
                                        <input class="form-control text-end" type="number" name="precio" id="precio"
                                            value="30" readonly autofocus required>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="cantidad" class="input-group-text">Cantidad</label>
                                        <input class="form-control text-end" type="number" name="cantidad" id="cantidad"
                                            min="1" max="20" required>
                                    </div>

                                    <div class="form-group mt-4 d-grid gap-2">
                                        <button class="btn btn-success">Añadir a carrito <i
                                                class="fa-solid fa-cart-plus"></i></button>
                                    </div>

                                </form>
                                                                     <div class="form-group mt-2 d-grid gap-2">
                                        <a href="/producto3" class="btn btn-primary">Ver más</a>
                                    </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

<!------------------------------- PRODUCTO 4 ------------------------------->
            <div class="col-3 mt-3">
                <div class="container">
                    <div class="mx-auto">
                        <div class="card text-center">
                            <div class="card-body">
                                <form action="/add" method="post" enctype="multipart/form-data">

                                    <div>
                                        <img type="image" name="image" id="image"
                                            src="img/zunchadora.jpg" alt="" style="width: 250px; height:200px">
                                    </div>

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea fw-bold text-center" name="producto"
                                            id="producto" style="background:gray"
                                            readonly>SUNCHADORA DE CINTA METALICA</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea" name="descripcion"
                                            id="descripcion"
                                            readonly>Sunchadora
ATL-MSSB01
para vinchas y
cintas metalicas</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="precio" class="input-group-text">Precio (USD)</label>
                                        <input class="form-control text-end" type="number" name="precio" id="precio"
                                            value="50" readonly autofocus required>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="cantidad" class="input-group-text">Cantidad</label>
                                        <input class="form-control text-end" type="number" name="cantidad" id="cantidad"
                                            min="1" max="40" required>
                                    </div>

                                    <div class="form-group mt-4 d-grid gap-2">
                                        <button class="btn btn-success">Añadir a carrito <i
                                                class="fa-solid fa-cart-plus"></i></button>
                                    </div>

                                </form>
                                                                     <div class="form-group mt-2 d-grid gap-2">
                                        <a href="/producto4" class="btn btn-primary">Ver más</a>
                                    </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

<!------------------------------- PRODUCTO 5 ------------------------------->
            <div class="col-3 mt-3">
                <div class="container">
                    <div class="mx-auto">
                        <div class="card text-center">
                            <div class="card-body">
                                <form action="/add" method="post" enctype="multipart/form-data">

                                    <div>
                                        <img type="image" name="image" id="image"
                                            src="img/cortadora.jpg" alt="" style="width: 250px; height:200px">
                                    </div>

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea fw-bold text-center" name="producto"
                                            id="producto" style="background:gray"
                                            readonly>CORTADOR CLEAVER</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea" name="descripcion"
                                            id="descripcion"
                                            readonly>GRANDWAY / Cleaver GW-800A
Cortador de hilos de fibra
alta precisión</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="precio" class="input-group-text">Precio (USD)</label>
                                        <input class="form-control text-end" type="number" name="precio" id="precio"
                                            value="70" readonly autofocus required>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="cantidad" class="input-group-text">Cantidad</label>
                                        <input class="form-control text-end" type="number" name="cantidad" id="cantidad"
                                            min="1" max="40" required>
                                    </div>

                                    <div class="form-group mt-4 d-grid gap-2">
                                        <button class="btn btn-success">Añadir a carrito <i
                                                class="fa-solid fa-cart-plus"></i></button>
                                    </div>

                                </form>
                                                                     <div class="form-group mt-2 d-grid gap-2">
                                        <a href="/producto5" class="btn btn-primary">Ver más</a>
                                    </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

<!------------------------------- PRODUCTO 6 ------------------------------->
            <div class="col-3 mt-3">
                <div class="container">
                    <div class="mx-auto">
                        <div class="card text-center">
                            <div class="card-body">
                                <form action="/add" method="post" enctype="multipart/form-data">

                                    <div>
                                        <img type="image" name="image" id="image"
                                            src="img/vfl.jpg" alt="" style="width: 250px; height:200px">
                                    </div>

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea fw-bold text-center" name="producto"
                                            id="producto" style="background:gray"
                                            readonly>VISUAL FAULT LOCATOR</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea" name="descripcion"
                                            id="descripcion"
                                            readonly>GRANDWAY / VLS-8-10 VLF Fibra</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="precio" class="input-group-text">Precio (USD)</label>
                                        <input class="form-control text-end" type="number" name="precio" id="precio"
                                            value="100" readonly autofocus required>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="cantidad" class="input-group-text">Cantidad</label>
                                        <input class="form-control text-end" type="number" name="cantidad" id="cantidad"
                                            min="1" max="40" required>
                                    </div>

                                    <div class="form-group mt-4 d-grid gap-2">
                                        <button class="btn btn-success">Añadir a carrito <i
                                                class="fa-solid fa-cart-plus"></i></button>
                                    </div>

                                </form>

                                                                     <div class="form-group mt-2 d-grid gap-2">
                                        <a href="/producto6" class="btn btn-primary">Ver más</a>
                                    </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

<!------------------------------- PRODUCTO 7 ------------------------------->
            <div class="col-3 mt-3">
                <div class="container">
                    <div class="mx-auto">
                        <div class="card text-center">
                            <div class="card-body">
                                <form action="/add" method="post" enctype="multipart/form-data">

                                    <div>
                                        <img type="image" name="image" id="image"
                                            src="img/pinza_trafico.jpg" alt="" style="width: 250px; height:200px">
                                    </div>

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea fw-bold text-center" name="producto"
                                            id="producto" style="background:gray"
                                            readonly>PINZA DE TRÁFICO T-FI350</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea" name="descripcion"
                                            id="descripcion"
                                            readonly>El identificador de fibra óptica SKYCOM T-FI350 puede identificar rápidamente la dirección de la fibra transmitida y mostrar la potencia relativa del núcleo sin dañar la fibra doblada. Cuando hay tráfico, se activa el tono audible intermitente.</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="precio" class="input-group-text">Precio (USD)</label>
                                        <input class="form-control text-end" type="number" name="precio" id="precio"
                                            value="120" readonly autofocus required>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="cantidad" class="input-group-text">Cantidad</label>
                                        <input class="form-control text-end" type="number" name="cantidad" id="cantidad"
                                            min="1" max="40" required>
                                    </div>


                                    <div class="form-group mt-4 d-grid gap-2">
                                        <button class="btn btn-success">Añadir a carrito <i
                                                class="fa-solid fa-cart-plus"></i></button>
                                    </div>

                                </form>

                                                                     <div class="form-group mt-2 d-grid gap-2">
                                        <a href="/producto7" class="btn btn-primary">Ver más</a>
                                    </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

<!------------------------------- PRODUCTO 8 ------------------------------->
            <div class="col-3 mt-3">
                <div class="container">
                    <div class="mx-auto">
                        <div class="card text-center">
                            <div class="card-body">
                                <form action="/add" method="post" enctype="multipart/form-data">

                                    <div>
                                        <img type="image" name="image" id="image"
                                            src="img/fusionadora.jpg" alt="" style="width: 250px; height:200px">
                                    </div>

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea fw-bold text-center" name="producto"
                                            id="producto" style="background:gray"
                                            readonly>FUSIONADORA DE FIBRA ÓPTICA INNO VIEW 8+</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea" name="descripcion"
                                            id="descripcion"
                                            readonly>Fusionadora de fibra óptica VIEW 8+ Diseñada para gran capacidad de fusiones diarias</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="precio" class="input-group-text">Precio (USD)</label>
                                        <input class="form-control text-end" type="number" name="precio" id="precio"
                                            value="5000" readonly autofocus required>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="cantidad" class="input-group-text">Cantidad</label>
                                        <input class="form-control text-end" type="number" name="cantidad" id="cantidad"
                                            min="1" max="5" required>
                                    </div>

                                    <div class="form-group mt-4 d-grid gap-2">
                                        <button class="btn btn-success">Añadir a carrito <i
                                                class="fa-solid fa-cart-plus"></i></button>
                                    </div>

                                </form>

                                                                     <div class="form-group mt-2 d-grid gap-2">
                                        <a href="/producto8" class="btn btn-primary">Ver más</a>
                                    </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>