<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="/img/pinza_trafico.jpg" class="img-fluid rounded" alt="Imagen del Producto">
        </div>
        <div class="col-md-6">
            <h2>PINZA DE TRÁFICO T-FI350</h2>
            <p class="text-muted">El identificador de fibra óptica SKYCOM T-FI350 puede identificar rápidamente la dirección de la fibra transmitida y mostrar la potencia relativa del núcleo sin dañar la fibra doblada. Cuando hay tráfico, se activa el tono audible intermitente.
            </p>
            <h4>Características Técnicas</h4>
            <ul class="list-unstyled">
                <li><strong>Uso:</strong> Herramienta para detectar el tráfico y la dirección de la luz en un hilo de fibra óptica.</li>
                        <li><strong>Principio de funcionamiento:</strong> Detecta y registra la intensidad de la luz transmitida.</li>
                        <li><strong>Aplicaciones:</strong> Monitoreo de flujo de datos y diagnósticos de redes de fibra óptica.</li>
                        <li><strong>Rango de medición:</strong> Medición de señales ópticas en un rango de longitudes de onda entre 800 nm y 1700 nm.</li>
                        <li><strong>Interfaz y visualización:</strong> Pantalla integrada para mostrar resultados de mediciones o transmisión a dispositivos externos.</li>
                        <li><strong>Portabilidad:</strong> Diseño compacto y ligero para uso en campo y espacios reducidos.</li>
                        <li><strong>Fabricante:</strong> Varios fabricantes especializados en equipos de prueba y medición para telecomunicaciones.</li>
                        <li><strong>Garantía:</strong> Garantía limitada de 1 a 2 años, dependiendo del fabricante.</li>
            </ul>
            <h4>Costo</h4>
            <h3 class="text-success">$120</h3>
            <div class="form-group mt-2 d-grid gap-2">
                <a href="/add" class="btn btn-primary">Atrás</a>
            </div>

            <form action="/add" method="post" enctype="multipart/form-data">

                <input class="form-control" type="hidden" name="producto" id="producto" value="PINZA DE TRÁFICO T-FI350"
                    readonly required>

                <input class="form-control" type="hidden" name="descripcion" id="descripcion"
                    value="El identificador de fibra óptica SKYCOM T-FI350 puede identificar rápidamente la dirección de la fibra transmitida y mostrar la potencia relativa del núcleo sin dañar la fibra doblada. Cuando hay tráfico, se activa el tono audible intermitente."
                    readonly required>

                <input class="form-control" type="hidden" name="precio" id="precio" value="120" readonly required>

                <input class="form-control" type="hidden" name="cantidad" id="cantidad" value="1" readonly required>

                <div class="form-group mt-4 d-grid gap-2">
                    <button class="btn btn-success">Añadir a carrito <i class="fa-solid fa-cart-plus"></i></button>
                </div>

            </form>

            </button>
        </div>
    </div>
</div>
