<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="/img/vfl.jpg" class="img-fluid rounded" alt="Imagen del Producto">
        </div>
        <div class="col-md-6">
            <h2>VISUAL FAULT LOCATOR</h2>
            <p class="text-muted">GRANDWAY / VLS-8-10 VLF Fibra
            </p>
            <h4>Características Técnicas</h4>
            <ul class="list-unstyled">
                <li><strong>Uso:</strong> Herramienta que emite un láser visible para detectar visualmente daños en la fibra óptica que afecten la propagación de la luz.</li>
                        <li><strong>Longitud de onda del láser:</strong> Normalmente entre 650 nm y 670 nm.</li>
                        <li><strong>Alcance efectivo:</strong> Puede detectar fallas y pérdidas ópticas hasta una distancia de 5 km.</li>
                        <li><strong>Modo de operación:</strong> Emite pulsos de luz visible y detecta fugas o atenuaciones anormales.</li>
                        <li><strong>Batería:</strong> Incorpora una batería recargable para varias horas de uso continuo.</li>
                        <li><strong>Dimensiones y peso:</strong> Compacta y liviana para facilitar su uso en campo.</li>
                        <li><strong>Fabricante:</strong> Varios fabricantes especializados en equipos ópticos.</li>
                        <li><strong>Garantía:</strong> Garantía limitada de 1 a 2 años, según el fabricante.</li>
            </ul>
            <h4>Costo</h4>
            <h3 class="text-success">$100</h3>
            <div class="form-group mt-2 d-grid gap-2">
                <a href="/add" class="btn btn-primary">Atrás</a>
            </div>
            <div class="form-group mt-2 d-grid gap-2">
                <a href="/producto1" class="btn btn-success">Añadir a carrito<i class="fa-solid fa-cart-plus"></i></a>
            </div>

            </button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>