<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="/img/fusionadora.jpg" class="img-fluid rounded" alt="Imagen del Producto">
        </div>
        <div class="col-md-6">
            <h2>FUSIONADORA DE FIBRA ÓPTICA INNO VIEW 8+</h2>
            <p class="text-muted">usionadora de fibra óptica VIEW 8+ Diseñada para gran capacidad de fusiones diarias.
            </p>
            <h4>Características Técnicas</h4>
            <ul class="list-unstyled">
                       <li><strong>Uso:</strong> Equipo usado para fusionar hilos de fibra óptica con precisión.</li>
                        <li><strong>Precisión de la fusión:</strong> Alta precisión y bajo pérdidas en las fusiones.</li>
                        <li><strong>Tecnología de alineación:</strong> Alineación por núcleo para fusiones robustas.</li>
                        <li><strong>Modos de operación:</strong> Automático y manual para adaptarse a diferentes condiciones.</li>
                        <li><strong>Tiempo de fusión:</strong> 7 a 9 segundos, dependiendo de las condiciones.</li>
                        <li><strong>Resultados visuales:</strong> Pantalla de alta resolución para visualización de las fusiones.</li>
                        <li><strong>Diseño ergonómico:</strong> Compacto y ergonómico, ideal para uso en campo y laboratorio.</li>
                        <li><strong>Interfaz de usuario:</strong> Interfaz intuitiva con pantalla táctil para configuración y operación.</li>
                        <li><strong>Memoria y almacenamiento:</strong> Capacidad para gestionar registros de fusiones realizadas.</li>
                        <li><strong>Fabricante:</strong> INNO Instrument Inc., reconocido por innovación en fibra óptica.</li>
                        <li><strong>Garantía:</strong> Garantía extendida con soporte técnico y actualizaciones de software.</li>
            </ul>
            <h4>Costo</h4>
            <h3 class="text-success">$5000</h3>
            <div class="form-group mt-2 d-grid gap-2">
                <a href="/add" class="btn btn-primary">Atrás</a>
            </div>
            <div class="form-group mt-2 d-grid gap-2">
                <a href="/producto1" class="btn btn-success">Añadir a carrito<i class="fa-solid fa-cart-plus"></i></a>
            </div>

            </button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>