<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="/img/zunchadora.jpg" class="img-fluid rounded" alt="Imagen del Producto">
        </div>
        <div class="col-md-6">
            <h2>SUNCHADORA DE CINTA METALICA</h2>
            <p class="text-muted">Sunchadora
ATL-MSSB01
para vinchas y
cintas metalicas
            </p>
            <h4>Características Técnicas</h4>
            <ul class="list-unstyled">
                <li><strong>Uso:</strong> Herramienta para vestir postes con cinta banda metálica y ajustar herrajes para sostener cables de fibra óptica.</li>
                        <li><strong>Material:</strong> Acero resistente.</li>
                        <li><strong>Dimensiones:</strong> Varían según el modelo específico, usualmente diseñada para ser manejable y robusta.</li>
                        <li><strong>Mecanismo:</strong> Incluye un sistema de ajuste y bloqueo para asegurar la cinta metálica y los herrajes en su lugar.</li>
                        <li><strong>Fabricante:</strong> Varía según la marca, comunes proveedores incluyen empresas especializadas en herramientas para telecomunicaciones.</li>
                        <li><strong>Garantía:</strong> Garantía limitada de 1 a 2 años, dependiendo del fabricante.</li>
            </ul>
            <h4>Costo</h4>
            <h3 class="text-success">$50</h3>
            <div class="form-group mt-2 d-grid gap-2">
                <a href="/add" class="btn btn-primary">Atrás</a>
            </div>
            <div class="form-group mt-2 d-grid gap-2">
                <a href="/producto1" class="btn btn-success">Añadir a carrito<i class="fa-solid fa-cart-plus"></i></a>
            </div>

            </button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>