<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="/img/miller_clamp.jpg" class="img-fluid rounded" alt="Imagen del Producto">
        </div>
        <div class="col-md-6">
            <h2>MILLER CLAMP</h2>
            <p class="text-muted">Peladora de chaqueta de
Fibra DROP OTL- MC
            </p>
            <h4>Características Técnicas</h4>
            <ul class="list-unstyled">
                <li><strong>Material:</strong> Aleación de aluminio y acero inoxidable</li>
                <li><strong>Dimensiones:</strong> 18 cm de longitud total</li>
                <li><strong>Uso:</strong> Especialmente diseñada para pelar la chaqueta exterior de cables de fibra
                    óptica</li>
                <li><strong>Mango:</strong> Diseño antideslizante para un manejo seguro y cómodo</li>
                <li><strong>Función:</strong> Permite ajustes precisos para diferentes grosores de cables</li>
                <li><strong>Fabricante:</strong> OTL Technologies</li>
                <li><strong>Garantía:</strong> Garantía limitada de 3 años</li>
            </ul>
            <h4>Costo</h4>
            <h3 class="text-success">$30</h3>
            <div class="form-group mt-2 d-grid gap-2">
                <a href="/add" class="btn btn-primary">Atrás</a>
            </div>
            <div class="form-group mt-2 d-grid gap-2">
                <a href="/producto1" class="btn btn-success">Añadir a carrito<i class="fa-solid fa-cart-plus"></i></a>
            </div>

            </button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>