<form action="/add" method="post" enctype="multipart/form-data">

    <input class="form-control" type="hidden" name="producto" id="producto" value="SANGRADORA DE FIBRA ADSS" readonly required>

    <input class="form-control" type="hidden" name="descripcion" id="descripcion" value="Sangradora de Fibra ADSS Longitudinal/transversal Diámetros 10 a 26 MM ATL-SLAC-0825" readonly required>

    <input class="form-control" type="hidden" name="precio" id="precio" value="50" readonly required>

    <input class="form-control" type="hidden" name="cantidad" id="cantidad" value="1" readonly required>

    <div class="form-group mt-4 d-grid gap-2">
        <button class="btn btn-success">Añadir a carrito <i class="fa-solid fa-cart-plus"></i></button>
    </div>

</form>