<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="text-uppercase">Crear nueva persona</h3>
                </div>
                <div class="card-body">
                    <form action="/add" method="post">

                        <div class="input-group mt-2">
                            <label for="name" class="input-group-text">Nombre persona</label>
                            <input class="form-control" type="text" name="name" id="name" placeholder="Ejemplo: Steven" autofocus required>
                        </div>

                        <div class="input-group mt-2">
                            <label for="lastname" class="input-group-text">Apellido persona</label>
                            <input class="form-control" type="text" name="lastname" id="lastname" placeholder="Ejemplo: Cabrales" autofocus required>
                        </div>

                        <div class="input-group mt-2">
                            <label for="age" class="input-group-text">Edad</label>
                            <input class="form-control" type="number" name="age" id="age" placeholder="Ejemplo: 25" autofocus required>
                        </div>

                        <div class="form-group mt-4 d-grid gap-2">
                            <button class="btn btn-success">Crear</button>
                        </div>

                    </form>
                </div>  
            </div>
        </div>
    </div>
</div>