<section class="nosotros my-5">
    <h2 class="text-center my-5">Nuestros suscripciones</h2>
    <div class="container">
        <div class="row">
<!------------------------------- SERVICIO 1 ------------------------------->
            <div class="col-4 mt-3">
                <div class="container">
                    <div class="mx-auto">
                        <div class="card text-center">
                            <div class="card-body">
                                <form action="/add" method="post" enctype="multipart/form-data">

                                    <div>
                                        <img type="image" name="image" id="image"
                                            src="img/sangradora.jpg" alt="" style="width: 250px; height:200px">
                                    </div>

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea fw-bold text-center" name="producto"
                                            id="producto" style="background:gray"
                                            readonly>SANGRADORA DE FIBRA ADSS</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea" name="descripcion"
                                            id="descripcion"
                                            readonly>Sangradora de Fibra ADSS Longitudinal/transversal Diámetros 10 a 26 MM ATL-SLAC-0825</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="precio" class="input-group-text">Precio (USD)</label>
                                        <input class="form-control text-end" type="number" name="precio" id="precio"
                                            value="50" readonly autofocus required>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="cantidad" class="input-group-text">Cantidad</label>
                                        <input class="form-control text-end" type="number" name="cantidad" id="cantidad"
                                            min="1" max="20" required>
                                    </div>

                                    <!--<div class="input-group mt-2">
                                        <input class="form-control" type="file" name="file" id="file">
                                        </div>-->

                                    <!--<div class="input-group mt-2">
                                        <label for="lastname" class="input-group-text">Apellido persona</label>
                                        <input class="form-control" type="text" name="lastname" id="lastname" placeholder="Ejemplo: Cabrales" autofocus>
                                        </div>-->

                                    <div class="form-group mt-4 d-grid gap-2">
                                        <button class="btn btn-success">Añadir a carrito <i
                                                class="fa-solid fa-cart-plus"></i></button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

<!------------------------------- SERVICIO 2 ------------------------------->
            <div class="col-4 mt-3">
                <div class="container">
                    <div class="mx-auto">
                        <div class="card text-center">
                            <div class="card-body">
                                <form action="/add" method="post" enctype="multipart/form-data">

                                    <div>
                                        <img type="image" name="image" id="image"
                                            src="img/pinza.jpg" alt="" style="width: 250px; height:200px">
                                    </div>

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea fw-bold text-center" name="producto"
                                            id="producto" style="background:gray"
                                            readonly>PINZA PELADORA DE FIBRA</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea" name="descripcion"
                                            id="descripcion"
                                            readonly>Sangradora de Fibra Armada
Diámetros 6 a 42 MM
ATL-SAC-0642</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="precio" class="input-group-text">Precio (USD)</label>
                                        <input class="form-control text-end" type="number" name="precio" id="precio"
                                            value="30" readonly autofocus required>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="cantidad" class="input-group-text">Cantidad</label>
                                        <input class="form-control text-end" type="number" name="cantidad" id="cantidad"
                                            min="1" max="20" required>
                                    </div>

                                    <!--<div class="input-group mt-2">
                                        <input class="form-control" type="file" name="file" id="file">
                                        </div>-->

                                    <!--<div class="input-group mt-2">
                                        <label for="lastname" class="input-group-text">Apellido persona</label>
                                        <input class="form-control" type="text" name="lastname" id="lastname" placeholder="Ejemplo: Cabrales" autofocus>
                                        </div>-->

                                    <div class="form-group mt-4 d-grid gap-2">
                                        <button class="btn btn-success">Añadir a carrito <i
                                                class="fa-solid fa-cart-plus"></i></button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div> 

<!------------------------------- SERVICIO 3 ------------------------------->
            <div class="col-4 mt-3">
                <div class="container">
                    <div class="mx-auto">
                        <div class="card text-center">
                            <div class="card-body">
                                <form action="/add" method="post" enctype="multipart/form-data">

                                    <div>
                                        <img type="image" name="image" id="image"
                                            src="img/miller_clamp.jpg" alt="" style="width: 250px; height:200px">
                                    </div>

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea fw-bold text-center" name="producto"
                                            id="producto" style="background:gray"
                                            readonly>MILLER CLAMP</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea" name="descripcion"
                                            id="descripcion"
                                            readonly>Peladora de chaqueta de
Fibra DROP OTL- MC</textarea>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="precio" class="input-group-text">Precio (USD)</label>
                                        <input class="form-control text-end" type="number" name="precio" id="precio"
                                            value="30" readonly autofocus required>
                                    </div>

                                    <div class="input-group mt-2">
                                        <label for="cantidad" class="input-group-text">Cantidad</label>
                                        <input class="form-control text-end" type="number" name="cantidad" id="cantidad"
                                            min="1" max="20" required>
                                    </div>

                                    <!--<div class="input-group mt-2">
                                        <input class="form-control" type="file" name="file" id="file">
                                        </div>-->

                                    <!--<div class="input-group mt-2">
                                        <label for="lastname" class="input-group-text">Apellido persona</label>
                                        <input class="form-control" type="text" name="lastname" id="lastname" placeholder="Ejemplo: Cabrales" autofocus>
                                        </div>-->

                                    <div class="form-group mt-4 d-grid gap-2">
                                        <button class="btn btn-success">Añadir a carrito <i
                                                class="fa-solid fa-cart-plus"></i></button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>